VITE_LIBRARY_URL=https://raw.githubusercontent.com/Hamdan-Khan/zero-sketch/refs/heads/main/libraries/
VITE_SITE_URL=https://app.zerosketch.dev
VITE_LANDING_URL=https://zerosketch.dev
VITE_STORAGE_URL=https://assets.zerosketch.dev
VITE_TURNSTILE_SITE_KEY=turnstile_key